.cache
.venv
*.egg-info
*.mo
*.pyc
*~
*.code-workspace
.coverage
.installed.cfg
.mr.developer.cfg
.python-version
.vscode/
bin/
checkouts/
coverage/
develop-eggs/
dist/
docs/build/
downloads/
eggs/
htmlcov/
parts/
var/
