[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
setuptools = "==44.1.1"
"zc.buildout" = "==2.13.8"
ipdb = "*"

[dev-packages]
ipdb = "*"
yapf = "==0.32.0"

[requires]
python_version = "2.7"
