/* Content Type Icons */
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-plone-mls-listing-listing:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-plone-mls-listing-listing:before {
  content: '\e825';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-ps-plone-mls-featured:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-ps-plone-mls-featured:before {
  content: '\e825';
}


/* Action Icons */
.icon-local-mls-config:before {
  content: '\e812';
}

.icon-local-mls-agency-info:before {
  content: '\e812';
}

.icon-listing-collection-config:before {
  content: '\e812';
}

.icon-listing-search-config:before {
  content: '\e812';
}

.icon-recent-listings-config:before {
  content: '\e812';
}

.icon-featured-listings-config:before {
  content: '\e812';
}

.icon-development-collection-config:before {
  content: '\e812';
}


/* Controlpanel Icons */
.icon-controlpanel-propertyshelf_agency_contact_info:before {
    content: '\e816';
}

.icon-controlpanel-propertyshelf_mls:before {
    content: '\e841';
}

.icon-controlpanel-propertyshelf_ui_settings:before {
    content: '\e821';
}


/* Agent Information portlet. */
.agent_avatar img,
.agency_logo img {
  max-width: 100%;
  width: 100%;
}


/* Listing Quick Search portlet. */
#formfield-form-widgets-baths select,
#formfield-form-widgets-beds select,
#formfield-form-widgets-interior_area select,
#formfield-form-widgets-lot_size select {
  display: block;
  width: 100%;
}

.portletQuickSearch .form-rows {
  clear: both;
}

.portletQuickSearch .option input {
  clear: left;
  float: left;
}

.portletQuickSearch .option label {
  cursor: pointer;
  float: left;
  margin-left: 1ex;
  max-width: 84%;
}

@media (min-width: 768px) {
  #formfield-form-widgets-baths select,
  #formfield-form-widgets-beds select,
  #formfield-form-widgets-interior_area select,
  #formfield-form-widgets-lot_size select {
    display: block;
    width: 100%;
  }

  .portletQuickSearch select[size] {
    min-width: 0;
  }
}

@media (min-width: 1052px) {
  #formfield-form-widgets-baths select,
  #formfield-form-widgets-beds select,
  #formfield-form-widgets-interior_area select,
  #formfield-form-widgets-lot_size select {
    display: inline-block;
    width: 45%;
  }

}

@media (min-width: 1112px) {
  .portletQuickSearch .option label {
    max-width: 89%;
  }
}

@media (min-width: 1320px) {
  #formfield-form-widgets-baths select,
  #formfield-form-widgets-beds select,
  #formfield-form-widgets-interior_area select,
  #formfield-form-widgets-lot_size select {
    width: 46%;
  }
}
