/* Content Type Icons */
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-plone-mls-listing-listing:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-plone-mls-listing-listing:before {
  content: '\e825';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-ps-plone-mls-featured:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-ps-plone-mls-featured:before {
  content: '\e825';
}


/* Action Icons */
.icon-local-mls-config:before {
  content: '\e812';
}

.icon-local-mls-agency-info:before {
  content: '\e812';
}

.icon-listing-collection-config:before {
  content: '\e812';
}

.icon-listing-search-config:before {
  content: '\e812';
}

.icon-recent-listings-config:before {
  content: '\e812';
}

.icon-featured-listings-config:before {
  content: '\e812';
}

.icon-development-collection-config:before {
  content: '\e812';
}


/* Controlpanel Icons */
.icon-controlpanel-propertyshelf_agency_contact_info:before {
    content: '\e816';
}

.icon-controlpanel-propertyshelf_mls:before {
    content: '\e841';
}

.icon-controlpanel-propertyshelf_ui_settings:before {
    content: '\e821';
}


/* Agent Information portlet. */
.portletAgentInformation .agent_avatar img,
.portletAgentInformation .agency_logo img {
  display: block;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.portletAgentInformation .agent_avatar figcaption,
.portletAgentInformation .agency_logo figcaption {
  font-size: 12px;
  background: #fcfcfd;
  margin: 0;
  padding: 6px 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.portletAgentInformation .contact_details dd {
  margin-bottom: 0.5em;
}

.portletAgentInformation .portletContent .agent_name {
  padding-bottom: 0;
}

.portletAgentInformation .portletContent .agent_title_name {
  padding-top: 0;
}


/* Listing Quick Search portlet. */
.portletQuickSearch #formfield-form-widgets-baths select,
.portletQuickSearch #formfield-form-widgets-beds select,
.portletQuickSearch #formfield-form-widgets-interior_area select,
.portletQuickSearch #formfield-form-widgets-lot_size select {
  display: block;
  width: 100%;
}

.portletQuickSearch .form-rows {
  clear: both;
}

.portletQuickSearch .option input {
  clear: left;
  float: left;
}

.portletQuickSearch .option label {
  cursor: pointer;
  float: left;
  margin-left: 1ex;
  max-width: 84%;
}

@media (min-width: 768px) {
  .portletQuickSearch #formfield-form-widgets-baths select,
  .portletQuickSearch #formfield-form-widgets-beds select,
  .portletQuickSearch #formfield-form-widgets-interior_area select,
  .portletQuickSearch #formfield-form-widgets-lot_size select {
    display: block;
    width: 100%;
  }

  .portletQuickSearch select[size] {
    min-width: 0;
  }
}

@media (min-width: 1052px) {
  .portletQuickSearch #formfield-form-widgets-baths select,
  .portletQuickSearch #formfield-form-widgets-beds select,
  .portletQuickSearch #formfield-form-widgets-interior_area select,
  .portletQuickSearch #formfield-form-widgets-lot_size select {
    display: inline-block;
    width: 45%;
  }

}

@media (min-width: 1112px) {
  .portletQuickSearch .option label {
    max-width: 89%;
  }
}

@media (min-width: 1320px) {
  .portletQuickSearch #formfield-form-widgets-baths select,
  .portletQuickSearch #formfield-form-widgets-beds select,
  .portletQuickSearch #formfield-form-widgets-interior_area select,
  .portletQuickSearch #formfield-form-widgets-lot_size select {
    width: 46%;
  }
}
